

$vehicles--width: 100%;
$vehicles--height: 100%;
$vehicles--maxwidth: 240px;
$vehicles--maxheight: 440px;
$vehicles--margin: 1%;
$vehicles__modal--margin: 2%;
$color--white: white;
$color--black: black;

//************************************************************//

.vehicle__container {
  color: $color--black;
  background-color: $color--white;
  width: $vehicles--width;
  height: $vehicles--height;
}

/* ------------------------------ @media ------------------------------------------*/
$vehicles--600--width: 50%;
$vehicles--600--height: 50%;
/* min-width -->    On screens 600px wide or more*/
@media screen and (min-width: 600px) {
  .vehicle__container {
    width: $vehicles--600--width;
    height: $vehicles--600--height;
  }
}

$vehicles--992--width:  25%;
$vehicles--992--height: 25%;
$labels--992--min-height: 120px;
/* min-width -->    On screens 992px wide or more*/
@media screen and (min-width: 992px) {
  .vehicle__container {
    width: $vehicles--992--width;
    height: 100%;
  }
  .vehicle__labels {
    margin: $vehicles--margin;
    min-height: $labels--992--min-height;
  }

}
