
$vehicles__container--display: flex;
$vehicles__container--flex-wrap: wrap;
$vehicles__container--justify-content: space-around;

$vehicles--width: 100%;
$vehicles--height: 100%;
$vehicles--maxwidth: 240px;
$vehicles--maxheight: 440px;
$vehicles--margin: 1%;

$border--radius: 25px;

$color--white: white;
$color--black: black;

//************************************************************//

body {
  background-color: $color--black ;
}

.root {
  z-index: 12;
}

.vehiclelist__container {
  display: $vehicles__container--display;
  flex-wrap: $vehicles__container--flex-wrap;
  justify-content: $vehicles__container--justify-content;
  margin-left: $vehicles--margin;
  margin-right: $vehicles--margin;
  margin-top: $vehicles--margin;
  background-color: $color--white;
}

.vehicle {
  color: $color--black;
  background-color: $color--white;
  width: $vehicles--width;
  height: $vehicles--height;
}

/* ------------------------------ @media ------------------------------------------*/
$vehicles--600--width: 50%;
$vehicles--600--height: 50%;
/* min-width -->    On screens 600px wide or more*/
@media screen and (min-width: 600px) {
  .vehicle {
    width: $vehicles--600--width;
    height: $vehicles--600--height;
  }
}

$vehicles--992--width:  25%;
$vehicles--992--height: 25%;
/* min-width -->    On screens 992px wide or more*/
@media screen and (min-width: 992px) {
  
  .vehiclelist__container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: red;
  }

  .vehicle {
    width: $vehicles--992--width;
    height: 100%;
    background-color: blue;
  }

  .labels {
    background-color: green;
    margin: 10px;
    padding: 10px;
  }

  .vehiclelist__modal {
    background-color: orange;
    margin: 10px;
    padding: 10px;
  }

}
