$vehicles__container--display: flex;
$vehicles__container--flex-wrap: wrap;
$vehicles__container--justify-content: space-around;

$vehicles--width: 25%;
$vehicles--height: 25%;
$vehicles--maxwidth: 240px;
$vehicles--maxheight: 440px;

$vehicles--margin: 1%;

$border--radius: 25px;

$color--turquoise: rgb(177, 202, 219);
$color--white: white;
$color--black: black;

//************************************************************//

body {
  background-color: $color--black ;
}

.root {
  z-index: 12;
}

.vehicle__container {
  display: $vehicles__container--display;
  flex-wrap: $vehicles__container--flex-wrap;
  justify-content: $vehicles__container--justify-content;
  // margin: $vehicles--margin;
  background-color: $color--turquoise;
}

.vehicle {
  // margin: $vehicles--margin;
  // max-width: $vehicles--maxwidth;
  // min-width: $vehicles--maxwidth;
  // max-height: $vehicles--maxheight;
  // min-height: $vehicles--maxheight;
  // border-radius: $border--radius;
  // text-align: center;
  color: $color--black;
  background-color: $color--white;
  width: $vehicles--width;
  height: $vehicles--height;
}

.vehiclelist__img {
  width: 100%;
  height: 100%;
}




/* ------------------------------ @media ------------------------------------------*/

$vehicles--320--width: 100%;
$vehicles--320--height: 100%;

/* On screens that are 320px or more*/
@media screen and (max-width: 320px) {
  .vehicle {
    width: $vehicles--320--width;
    height: $vehicles--320--height;
  }
}

/* On screens that are 700px or more*/
@media screen and (max-width: 700px) {
  .vehicle {
    width: $vehicles--320--width;
    height: $vehicles--320--height;
  }
}
